.App {
  text-align: center;
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #303030;
  color: white;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 8vh;
  font-weight: 500;
}

.openCase {
  background-color: #54ff7f;
  border: none;
  border-radius: 10px;
  width: 10vw;
  height: 8vh;
}

.openCase:hover {
  background-color: #22fa58;
}

.buttonParent {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttons {
  width: 30vw;
  height: 10vh;
}
